</html><!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{page.title}}</title>
  <meta name="description" content="Browser Extension for flight tickets price comparison">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="128x128" href="https://pages.c-ctrip.com/flightcomfort/crx/icon128.png">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/TODO:ReplaceItemId">
  <link rel="stylesheet" href="https://pricescout.io/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pricescout.io/css/main.css">
</head>

<body>

  {{content}}

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <ul class="list-inline">
        <li><a href="mailto:${owner}?subject=TripFlightHelper Feedback">Contact Us</a></li>
        <li><a
            href="https://chrome.google.com/webstore/detail/tripflighthelper/papdhfmmdhepoeeimnkdhnadpmemeamk">Install</a>
        </li>
        <li class="pull-right">©
          <script>document.write(new Date().getFullYear())</script> TripFlightHelper chrome extension</li>
      </ul>
    </div>
  </footer>

</body>

</html>

